<?xml version="1.0"?>
<launch>
<!--     <include file="$(find mobile_robot_gazebo)/launch/mobile_robot_lab1.launch" /> -->
<!--     <include file="$(find mobile_robot_gazebo)/launch/mobile_robot_lab2.launch" /> -->
<!--     <include file="$(find mobile_robot_gazebo)/launch/mobile_robot_lab3.launch" /> -->
    <include file="$(find mobile_robot_gazebo)/launch/mobile_robot_lab4.launch" />
    
    
    <node pkg="mobile_robot_solution" type="solver.py" name="Solution"/>
</launch>
